.methods{
  padding-bottom: 5px;
}

.checkout-item{
  width: 100%;
  max-width: 100%;
  label{
    width: 100%;
    max-width: 100%;
    cursor: pointer;
    transition: all .5s ease;
    input{
      margin-right: 10px;
    }
    &:hover{
      color: rgba(77, 77, 77, 0.9);
    }
  }
  > td{
    padding: 25px 0;
    div{
      min-width: 60px;
    }
  }
  &.disabled-check-item{
    opacity: .4;
  }
}

.radio-wrap{
  margin-right: 5px;
  label{
    position: relative;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: flex-start;
    span{
      display: inline-block;
      margin-top: -1px;
      padding-left: 28px;
      font-size: 18px;
      font-weight: $font-medium;
      color: $text_color;
    }
    input{
      position: absolute;
      left: 0;
      top: 7px;
      &:checked + span {
        padding-left: 0;
      }
    }
  }
  > div{
    padding-left: 27px;
  }
  p{
    font-size: 16px;
    line-height: 1.56;
    margin-bottom: 0;
  }
  a{
    color: $accent;
    &:hover{
      color: $accent;
    }
  }
}