.basket-content-wrap{
  // padding: 20px;
  .uk-table th{
    color: $text_color;
    font-size: 18px;
    text-transform: none;
  }
}

.basket-item{
  .basket-item-img{
    min-width: 100px;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    display: flex;
    img{
      object-fit: contain;
      height: 100px;
      margin: auto;
    }
  }

  .basket-item-price{
    text-align: right;
    p{
      margin: 0;
    }
    span{
      display: inline-block;
      cursor: pointer;
      font-size: 18px;
      font-family: $ff-semibold;
      font-weight: $font-bold;
      &:last-child{
        margin-left: 30px;
      }
      svg, img{
        width: 15px;
        margin-top: -5px;
        &:hover{
          color: $accent;
        }
      }
    }
  }
  .basket-item-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    > * {
      display: block;
      width: 100%;
    }
    > a {
      color: $text_color;
      font-family: $ff-semibold;
      font-weight: $font-bold;
      &:hover{
        text-decoration: none;
        color: $accent;
      }
    }
  }
}


.block{
  box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.06);
  background-color: $yellow;
  padding: 30px;
  a{
    color: $accent;
    &:hover{
      color: $accent;
    }
  }
  &.method{
    padding: 20px;
  }
}


.count-product-wrap{
  height: 40px;
  border: 1px solid #a3a3a3;
  input{
    height: 100%;
    border: none;
    padding: 0 15px;
    text-align: center;
    color: #666666;
    background-color: transparent;
    width: 30px;
    font-size: 16px;
    outline: none;
    display: block;
  }
  span{
    width: 30px;
    height: 100%;
    line-height: 35px;
    display: block;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    position: relative;
    &:hover{
      color: $accent;
    }
    &:after{
      position: absolute;
      content: '';
      display: block;
      height: 80%;
      top: 10%;
      width: 1px;
      background-color: #a3a3a3;
    }
    &:first-child:after{
      right: 0;
    }
    &:last-child:after{
      left: 0;
    }
  }
}

.basket-rightbar{
  position: sticky;
  top: 0;
  .canvas-item .canvas-item-info p{
    color: $text_color;
  }
  h2{
    margin-bottom: 19px;
    font-family: $font-light;
    color: $text_color;
    -webkit-text-stroke: inherit;
  }
  p{
    font-size: 16px;
    margin: 5px;
    line-height: 20px;
  }
  td{
    padding-left: 0;
    padding-right: 0;
  }
  .uk-table{
    tr:first-child{
      td{
        padding-top: 0;
      }
    }
  }

}


.basket-header .nav-wrap{
  grid-template-columns: 1fr;
  text-align: center;
}
