@import 'var';
@import 'fonts';
@import '../layout/Canvas/canvas';
@import '../layout/Auth/auth';
@import '../layout/Filter/filter';
@import '../components/CanvasItem/CanvasItem';
@import '../layout/Search/search';
@import '../pages/kosik/basket';
@import '../pages/objednavka/objednavka';
@import 'libs';

header{
  position: absolute;
  width: 100%;
  z-index: 99;
  // transition: all .5s linear;
  &.small-header{
    position: static;
    background-color: $yellow;
  }
  &.activeDrop{
    background-color: $yellow;
    border-bottom: 1.5px solid rgba($accent, .3);
  }
  &.not-bg{
    .logo{
      svg {
        path{
          &:not(:first-child){
            fill: $text_color;
            color: $text_color;
          }
        }
      }
    }
    .nav-wrap{
      ul{
        li{
          > a{
            color: $text_color;
            text-shadow: none;
          }
        }
      }
    }
  }
  .logo{
    text-align: center;
    svg {
      path{
        &:first-child{
          color: $accent;
        }
        &:not(:first-child){
          fill: white;
          color: white;
        }
      }
    }
  }
  a{
    color: inherit;
  }
  .nav-wrap{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    padding-top: 15px;
    padding-bottom: 35px;
    ul{
      margin-bottom: 0;
      margin-top: 0;
      padding-left: 0;
      display: block;
      line-height: 15px;
      white-space: nowrap;
      li{
        display: inline-block;
        list-style-type: none;
        line-height: 15px;
        > a{
          color: white;
          display: block;
          font-size: 20px;
          line-height: 15px;
          padding-left: 15px;
          padding-right: 15px;
          text-shadow: $text-shadow;
          font-weight: $font-light;
          &:hover{
            text-decoration: none;
          }
        }
      }
    }
    .control-menu-wrap{
      justify-self: end;
      align-self: end;
    }
    .control-menu{
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: flex-end;
      .icons-wrap{
        margin-left: 65px;
        li{
          a{
            padding-left: 6px;
            padding-right: 6px;
            img, svg{
              height: 24px;
              width: 22px;
            }
          }
        }
      }
    }
  }
}

.menu{
  align-self: end;
  img, svg{
    width: 12px;
    color: $accent;
    fill: $accent;
    margin-left: 5px;
  }
}

.page-top{
  background-size: cover;
  position: relative;
  z-index: 20;
  width: 100%;
  overflow: hidden;
  height: 380px;
  &:before{
    position: absolute;
    display: block;
    content: '';
    width: 1.5px;
    height: 80px;
    background-color: $accent;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }
  .big-head{
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 100px;
    color: white;
    left: 0;
    margin-bottom: 0;
    span{
      padding-left: 0;
      font-size: $head1_sub2;
      b{
        font-size: $head1_sub2;
      }
    }
  }
  &.big-top {
    height: 100vh;
    min-height: 900px;
    margin-bottom: 50px;
    &:before{
      display: none;
    }
    .big-head{
      text-align: center;
      bottom: auto;
      position: relative;
      span{
        font-size: $head1_sub;
        b{
          font-size: $head1;
        }
      }
    }
    a{
      color: white;
      font-size: 20px;
      line-height: 240px;
      width: 260px;
      height: 260px;
      border: 1.5px solid $accent;
      transition: all .5s ease;
      border-radius: 50%;
      display: block;
      text-align: center;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -50px;
      &:hover{
        text-decoration: none;
        width: 270px;
        height: 270px;
      }
    }
  }

}

.big-head{
  color: $text_color;
  -webkit-font-smoothing: auto;
  text-align: left;
  line-height: 85px;
  span{
    display: block;
    font-size: $head1_sub;
    font-family: $ff-thin;
    font-weight: $font-light;
    b{
      font-size: $head1;
      font-family: $ff-light;
      font-weight: $font-medium;
    }
  }
}

h2.big-head{
  line-height: 61px;
  span{
    font-size: 50px;
    b{
      font-size: 54px;
    }
  }
}

.sec-base{
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: #fff;
  z-index: 10;
}


.small-banner{
  background-color: $yellow;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  > div{
    margin: auto;
  }
  h3{
    -webkit-text-stroke: .2px rgba(0,0,0,.9);
    opacity: .7;
    font-weight: $font-light;
    color: $text-color;
    font-size: $head3;
    font-family: $ff-thin;
    margin-bottom: 20px;
    margin-top: 0;
  }
  h4{
    font-size: 26px;
    font-weight: $font-bold;
    color: $text-color;
    font-family: $ff-semibold;
    margin-top: 0;
    margin-bottom: 40px;
  }
}



.card{
  display: block;
  &:hover{
    text-decoration: none;
    mix-blend-mode: multiply;
    background-image: linear-gradient(to bottom, #f8f5ee, white);
  }
  .card-img{
    img{
      width: 100%;
    }
  }
  .card-content{
    text-align: center;
    h3{
      color: $text-color;
      font-family: $ff-semibold;
      font-size: 18px;
      font-weight: $font-bold;
      margin-top: 0;
      margin-bottom: 0;
    }
    span{
      font-size: 18px;
      letter-spacing: .36px;
      font-family: $ff-thin;
      font-weight: $font-light;
      color: $text-color;
      -webkit-text-stroke: .2px rgba(0,0,0,.9);
    }
  }
}

.big-banner{
  min-height: 770px;
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-bottom: 50px;
  .big-head{
    color: white;
    line-height: 63px;
    -webkit-text-stroke: 0.5px #fff;
    span{
      font-size: 61px;
      b{
        font-size: 64px;
      }
    }
  }
  .big-banner-info{
    margin: auto;
    text-align: center;
    transform: translateY(100px);
    .button{
      margin-top: 70px;
    }
  }
}

.partners-logo{
  padding-top: 50px;
  padding-bottom: 50px;
  // .uk-active{
  //   &:first-of-type{
  //     a{
  //       text-align: left;
  //     }
  //   }
  //   &:last-of-type{
  //     a{
  //       text-align: right;
  //     }
  //   }
  // }
  a{
    display: block;
    text-align: center;
  }
  img{
    height: 80px;
  }
}

footer{
  background-color: black;
  margin-top: 50px;
  .footer-top{
    padding-top: 140px;
    padding-bottom: 130px;
    text-align: center;
    .big-head{
      display: inline-block;
      margin-bottom: 100px;
      color: white;
      -webkit-text-stroke: 0.5px #fff;
    }
    .footer-item{
      label{
        -webkit-text-stroke: 0.5px #b3b3b3;
        color: #b3b3b3;
        line-height: 1.36;
        font-weight: $font-medium;
        font-size: 22px;
        font-family: $ff-thin;
        display: block;
      }
      p, p a{
        color: white;
        line-height: 1.48;
        font-weight: $font-medium;
        font-size: 25px;
        font-family: $ff-light;
        margin-top: 0;
      }
      p{
        position: relative;
        display: inline-block;
        &:after{
          content: '';
          display: block;
          width: 100%;
          background-color: #fff;
          height: 1.5px;
          bottom: 5px;
          left: 0;
          position: absolute;
        }
      }
    }

  }
  .footer-bottom{
    border-top: 1.5px solid rgba(white, 0.2);
    .copytight-wrap{
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      padding-bottom: 20px;
      align-items: center;
      p{
        margin-bottom: 0;
        color: rgba(white, 0.7);
        font-size: 17px;
        font-weight: $font-medium;
      }
      .tech-links{
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
        ul{
          padding-left: 0;
          margin-bottom: 0;
          margin-top: 0;
          li{
            list-style-type: none;
            display: inline-block;
            &:not(:first-child){
              margin-left: 10px;
            }
            &:not(:last-child){
              margin-right: 10px;
            }
            a{
              display: block;
              color: white;
              font-size: 17px;
              font-weight: $font-medium;
              -webkit-font-smoothing: auto;
              img, svg{
                height: 16px;
                max-width: 16px;
              }
            }
          }
        }
        .soc-icon{
          margin-left: 20px;
          li{
            &:not(:first-child){
              margin-left: 3px;
            }
            &:not(:last-child){
              margin-right: 3px;
            }
            a{
              width: 34px;
              max-width: 34px;
              min-width: 34px;
              height: 34px;
              border-radius: 50%;
              background-color: rgba(white, 0.1);
              box-shadow: 0 1px 4px 0 rgba(3, 58, 91, 0.15);
              display: -webkit-flex;
              display: -ms-flex;
              display: flex;
              img, svg{
                margin: auto;
              }
            }
          }
        }
      }
    }
  }
}

.catalog-control{
  padding-top: 30px;
  padding-bottom: 30px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.catalog-control-button{
  border-radius: 50px;
  font-size: 18px;
  background-color: transparent;
  color: $text_color;
  font-weight: $font-bold;
  font-family: $ff-semibold;
  border: none;
  cursor: pointer;
  margin-right: 30px;
  transition: all .2s ease;
  &[aria-expanded="true"]{
    color: $accent;
    img, svg{
      transform: rotate(-180deg);
      color: $text-color;
    }
  }
  img, svg{
    width: 10px;
    color: $accent;
    margin-left: 7px;
    transition: all .2s ease;
    transform: rotate(0);
  }
}

.filter-selected ul{
  margin: 0;
  padding-left: 0;
  li{
    list-style-type: none;
    display: inline-block;
    &:not(:last-child){
      margin-right: 10px;
    }
    a{
      display: block;
      border: 1px solid rgba(black, .1);
      padding: 8px 14px;
      font-size: 18px;
      font-weight: $font-medium;
      color: $text-color;
      line-height: 20px;
      &:hover{
        text-decoration: none;
        color: $accent;
        img, svg{
          transform: rotate(-180deg);
        }
      }
      img, svg{
        width: 12px;
        color: $accent;
        margin-left: 17px;
        margin-top: -3px;
        transition: all .2s ease;
        transform: rotate(0)
      }
    }
  }
}

.sorting{
  .catalog-control-button {
    padding-left: 0;
    padding-right: 0;
    font-family: $ff-light;
    font-weight: $font-medium;

  }
}

.catalog-list{
  padding-top: 20px;
  hr{
    margin-top: 130px;
  }
}

.button-more-wrap{
  margin-top: 100px;
  text-align: center;
}


.additional-sec{
  padding-top: 70px;
  padding-bottom: 90px;
  text-align: center;
  .big-head{
    margin-bottom: 70px;
    display: inline-block;
  }
  p{
    text-align: left;
  }
}


.product-slider{
  position: relative;
  > a{
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
  }
  .uk-slideshow{
    &:hover{
      .uk-slidenav{
        display: block;
      }
    }
  }
  .uk-slidenav{
    display: none;
    img, svg{
      width: 15px;
    }
  }
  .uk-slideshow-na{
    margin-top: 20px;
  }
}

.product-base{
  padding-top: 90px;
  hr{
    margin-top: 85px;
  }
}

.product-info{
  text-align: center;
  color: $text_color;
  label{
    display: block;
    opacity: .7;
    -webkit-text-stroke: .2px rgba(0,0,0,.9);
    font-size: 26px;
    font-weight: $font-light;
    font-family: $ff-thin;
    letter-spacing: .52px;
    margin-bottom: 5px;
    &.available{
      font-size: 18px;
      font-family: $ff-light;
      font-weight: $font-medium;
      margin-bottom: 25px;
    }
  }
  h1{
    font-size: 37px;
    font-family: $ff-semibold;
    font-weight: $font-bold;
    margin-top: 0;
    margin-bottom: 55px;
  }
  ul{
    padding-left: 0;
    margin-bottom: 40px;
    li{
      list-style-type: none;
      font-size: 18px;
      font-weight: $font-medium;
      color: $text_color;
      opacity: .7;
      line-height: 28px;
      a{
        color: inherit;
        text-decoration: underline;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
  .description{
    text-align: left;
    p{
      opacity: .7;
    }
  }
}

.price{
  font-size: 38px;
  font-family: $ff-thin;
  font-weight: $font-light;
  -webkit-text-stroke: .2px rgba(0,0,0,.9);
  display: block;
  margin-bottom: 15px;
}

.related-products{
  padding-top: 75px;
  padding-bottom: 50px;
  text-align: center;
  .big-head{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
}

.sec-big{
  padding-top: 120px;
  padding-bottom: 120px;
}


.price-small{
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 0;
}


.menu-dropdown{
  width: 100%;
  background-color: $yellow;
  padding: 80px 0;
  box-shadow: none;
  margin-top: 0;
  .dropdown-wrap{
    display: flex;
    justify-content: center;
  }
  .dropdown-item{
    text-align: center;
    transition: all .2s ease;
    width: 150px;
    margin-left: 20px;
    margin-right: 20px;
    &:hover{
      text-decoration: none;
      span{
        color: $accent;
      }
    }
    .dropdown-img{
      width: 70px;
      height: 70px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      img{
        width: 100%;
        margin-left: 0;
      }
    }
    span{
      font-size: 17px;
      font-family: $ff-semibold;
      font-weight: $font-bold;
      color: black;
      transition: all .2s ease;
    }
  }
}


.variant-button-wrap{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  .select-variant{
    margin-right: 3.5px;
    + .button{
      margin-left: 3.5px;
    }
    ul{
      background-color: $yellow;
      box-shadow: none;
      padding: 0;
      li{
        line-height: 20px;
        opacity: 1;
        a{
          display: block;
          padding: 10px 25px;
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          justify-content: space-between;
          text-decoration: none;
          color: $text-color;
          &:hover{
            background-color: $text-color;
            color: white;
          }
          span:last-child{
            -webkit-text-stroke: .2px rgba(0,0,0,.9);
            font-weight: $font-light;
            font-family: $ff-thin;
            -webkit-font-smoothing: auto;
          }
        }
      }
    }
    .button[aria-expanded="true"]{
      background-color: $yellow;
      img, svg{
        transform: rotate(-180deg);
      }
    }
  }
  .button{
    line-height: 30px;
    img, svg{
      width: 10px;
      margin-left: 10px;
      transform: rotate(0);
      transition: all .2s ease;
    }
  }
}

@import 'media';
