@import 'var';
@import 'fonts';
@import 'components';
@import 'libs';

#search, #auth, #canvas{
  z-index: 1111;
}

.basket-icon-wrap:not(.empty-basket-icon){
  position: relative;
  span{
    position: absolute;
    display: block;
    border-radius: 50%;
    background-color: $accent;
    width: 12px;
    height: 12px;
    top: -7px;
    right: -7px;
  }
}

.menu{
  align-self: end;
  a{
    &:hover{
      .uk-svg, svg{
        transform: rotate(180deg);
      }
    }
    .uk-svg, svg{
      width: 12px;
      color: $accent;
      fill: $accent;
      margin-left: 5px;
      margin-top: -5px;
      transition: all .2s ease;
      transform: rotate(0);
    }
  }
}

.big-head{
  color: $text_color;
  -webkit-font-smoothing: auto;
  text-align: left;
  line-height: 85px;
  span{
    display: block;
    font-size: $head1_sub;
    font-family: $ff-thin;
    font-weight: $font-light;
    b{
      font-size: $head1;
      font-family: $ff-light;
      font-weight: $font-medium;
    }
  }
}

h2.big-head{
  line-height: 61px;
  span{
    font-size: 50px;
    b{
      font-size: 54px;
    }
  }
}

.sec-base{
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: #fff;
  z-index: 10;
}

.partners-logo{
  padding-top: 50px;
  padding-bottom: 50px;
  li{
    display: flex;
    align-items: center;
  }
  a{
    display: block;
    text-align: center;
  }
}

.catalog-control{
  padding-top: 30px;
  padding-bottom: 30px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalog-control-button{
  border-radius: 50px;
  font-size: 18px;
  background-color: transparent;
  color: $text_color;
  font-weight: $font-bold;
  font-family: $ff-semibold;
  border: none;
  cursor: pointer;
  margin-right: 30px;
  transition: all .2s ease;
  &[aria-expanded="true"]{
    color: $accent;
    img, svg{
      transform: rotate(-180deg);
      color: $text-color;
    }
  }
  img, svg{
    width: 10px;
    color: $accent;
    margin-left: 7px;
    transition: all .2s ease;
    transform: rotate(0);
  }
}

.filter-selected ul{
  margin: 0;
  padding-left: 0;
  li{
    list-style-type: none;
    display: inline-block;
    &:not(:last-child){
      margin-right: 10px;
    }
    a{
      display: block;
      border: 1px solid rgba(black, .1);
      padding: 8px 14px;
      font-size: 18px;
      font-weight: $font-medium;
      color: $text-color;
      line-height: 20px;
      &:hover{
        text-decoration: none;
        color: $accent;
        img, svg{
          transform: rotate(-180deg);
        }
      }
      img, svg{
        width: 12px;
        color: $accent;
        margin-left: 17px;
        margin-top: -3px;
        transition: all .2s ease;
        transform: rotate(0)
      }
    }
  }
}

.sorting{
  .catalog-control-button {
    padding-left: 0;
    padding-right: 0;
    font-family: $ff-light;
    font-weight: $font-medium;

  }
}

.catalog-list{
  padding-top: 20px;
  hr{
    margin-top: 130px;
  }
}

.button-more-wrap{
  margin-top: 100px;
  text-align: center;
}


.additional-sec{
  padding-top: 70px;
  padding-bottom: 90px;
  text-align: center;
  .big-head{
    margin-bottom: 70px;
    display: inline-block;
  }
  p{
    text-align: left;
  }
}


.product-slider{
  position: relative;
  > a{
    position: absolute;
    z-index: 100;
    top: -25px;
    left: 0;
  }
  .uk-slideshow{
    .uk-slideshow-items{
      li{
        text-align: center;
        div{
          min-height: 100%;
          display: flex;
          img{
            max-height: 100%;
            margin: auto;
          }
        }
      }
    }
    &:hover{
      .uk-slidenav{
        display: block;
      }
    }
  }
  .uk-slidenav{
    display: none;
    img, svg{
      width: 15px;
    }
  }
  .uk-slideshow-nav{
    margin-top: 20px;
  }
}

.product-base{
  padding-top: 90px;
  hr{
    margin-top: 85px;
  }
}

.product-info{
  text-align: center;
  color: $text_color;
  label{
    display: block;
    opacity: .7;
    -webkit-text-stroke: .2px rgba(0,0,0,.9);
    font-size: 26px;
    font-weight: $font-light;
    font-family: $ff-thin;
    letter-spacing: .52px;
    margin-bottom: 5px;
    &.available{
      font-size: 18px;
      font-family: $ff-light;
      font-weight: $font-medium;
      margin-bottom: 25px;
    }
  }
  h1{
    font-size: 37px;
    font-family: $ff-semibold;
    font-weight: $font-bold;
    margin-top: 0;
    margin-bottom: 55px;
  }
  ul{
    padding-left: 0;
    margin-bottom: 40px;
    li{
      list-style-type: none;
      font-size: 18px;
      font-weight: $font-medium;
      color: $text_color;
      opacity: .7;
      line-height: 28px;
      a{
        color: inherit;
        text-decoration: underline;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
  .description{
    text-align: left;
    p{
      opacity: .7;
    }
  }
}

.price{
  font-size: 38px;
  font-family: $ff-thin;
  font-weight: $font-light;
  -webkit-text-stroke: .2px rgba(0,0,0,.9);
  display: block;
  margin-bottom: 15px;
  color: $text-color;
}

.related-products{
  padding-top: 75px;
  padding-bottom: 50px;
  text-align: center;
  .big-head{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
}

.sec-big{
  padding-top: 120px;
  padding-bottom: 120px;
}


.price-small{
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 0;
}

.variant-button-wrap{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  .select-variant{
    margin-right: 3.5px;
    + .button{
      margin-left: 3.5px;
      padding-left: 50px;
      padding-right: 50px;
      width: 150px;
    }
    ul{
      background-color: $yellow;
      box-shadow: none;
      padding: 0;
      li{
        line-height: 20px;
        opacity: 1;
        a{
          display: block;
          padding: 10px 25px;
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          justify-content: space-between;
          text-decoration: none;
          color: $text-color;
          &:hover{
            background-color: $text-color;
            color: white;
          }
          span:last-child{
            -webkit-text-stroke: .2px rgba(0,0,0,.9);
            font-weight: $font-light;
            font-family: $ff-thin;
            -webkit-font-smoothing: auto;
          }
        }
      }
    }
    .button[aria-expanded="true"]{
      background-color: $yellow;
      img, svg{
        transform: rotate(-180deg);
      }
      &:hover{
        color: $text-color;
      }
    }
  }
  .button{
    line-height: 30px;
    width: 250px;
    white-space: nowrap;
    padding-left: 0;
    padding-right: 0;
    font-family: $ff-light;
    img, svg{
      width: 10px;
      margin-left: 10px;
      transform: rotate(0);
      transition: all .2s ease;
      margin-top: -5px;
    }
  }
}

.big-banner{
  position: relative;
}

.img-wrap-bg{
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.75;
  > div{
    height: 100%;
    width: 100%;
    img{
      object-fit: cover;
    }
  }
}

.alert{
  position: relative;
  padding: 20px;
  p{
    margin-top: 0;
    margin-bottom: 0;
  }
  img, svg{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
  }
}

.uk-table caption{
  display: flex;
  justify-content: space-between;
}

.checkout-head{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.sec-sub-categories{
  padding-top: 40px;
  padding-bottom: 40px;
  .sub-cat-wrap{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
  }
}

.user-content{
  padding-bottom: 100px;
}



@import 'media';
